@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.firstBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(to bottom, #f5f5f5, #dfdfdf);
}
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: #6d6d6d;
  color: white;
  @include SemiBold-Body-16;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
