@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.topBgContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  width: 100dvw;
  height: 100dvh;
}
.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100dvw;
  height: 88px;
  padding: 20px 100px;
}
.bgImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/landing/landig-page-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.outerCircleInImg {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvh;
  height: 100dvh;
  padding: 100px;
  background-color: rgba(239, 239, 239, 0.24);
  backdrop-filter: blur(3px);
  border: none;
  border-radius: 50%;
}
.innerCircleInImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.69);
  border-radius: 50%;
}
.h1 {
  font-family: 'Pretendard-ExtraBold';
  font-size: 64px;
}
.authBtnsContainer {
  display: flex;
  gap: 6px;
}
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white_FF;
  padding: 12px 24px;
  border: 1px solid $light-bg_E5;
  border-radius: 24px;
  @include SemiBold_Body_16;
  color: $dark-font_33;
  text-decoration: none;
}
.startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $brand-point;
  padding: 12px 24px;
  border: 1px solid $light-bg_E5;
  border-radius: 24px;
  @include SemiBold_Body_16;
  color: $white_FF;
  text-decoration: none;
}
.introductionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}
.upIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 50%;
  background-color: $white_FF;
}
.h2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.h3Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 180%;
}
.about {
  font-family: 'Pretendard-Bold';
  font-size: 16px;
  color: $brand-point;
}
.aboutKorean {
  font-family: 'Pretendard-ExtraBold';
  font-size: 28px;
  color: $dark-font_33;
}
.h3 {
  @include SemiBold_Body_18;
  color: $dark-font_33;
}
.downIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 50%;
  padding: 30px;
  background-color: $light-bg_F9;
  border-radius: 30px;
}
.backGroundIntro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 40px 20px;
  .title {
    font-family: 'Pretendard-Bold';
    font-size: 18px;
    color: $light-font_9E;
  }
  span {
    @include Medium_Body_16;
    line-height: 140%;
    color: $dark-font_33;
  }
}
.graphContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 20px;
  background-color: $white_FF;
  border-radius: 16px;
  p {
    @include SemiBold_Body_18;
    line-height: 180%;
  }
  img {
    max-width: 80%;
    object-fit: contain;
  }
}
.functionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100dvw;
  height: 520px;
  background-color: $white_FF;
  border-radius: 30px;
}
.function {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  h4 {
    font-family: 'Pretendard-Bold';
    font-size: 28px;
    color: $dark-font_33;
  }
}
.functionImg {
  width: 230px;
  height: 230px;
  background-color: $white_FF;
  border-radius: 12px;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  @include Medium_Body_16;
  color: $dark-font_33;
}
.highLight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100dvw;
  height: 100dvh;
  background-color: $white_FF;
  img {
    height: 50dvh;
  }
}
.scrollingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.scrollingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 36px;
  transition: transform 1s ease;
  p {
    height: 36px;
    font-family: 'Pretendard-SemiBold';
    font-size: 36px;
    color: $light-bg_E5;
    transition: color 0.3s ease;
    &.active {
      font-family: 'Pretendard-SemiBold';
      font-size: 36px;
      color: $brand-point;
    }
  }
}

.unCompleted {
  display: flex;
  width: 100dvw;
  height: 520px;
  background-color: $light-bg_F9;
  border-radius: 30px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100dvw;
  height: 180px;
  padding: 30px 200px;
  background-color: $dark-font_33;
  @include Medium_Body_16;
  color: $white_FF;
}
.footerBody {
  display: flex;
}
.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  justify-content: space-between;
}
