@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 240px;
  padding: 20px;
  padding-top: 20px;
}
.searchBar {
  display: flex;
  height: 40px;
  padding: 20px;
  padding-left: 35px;
  border: solid 3px $light-bg_E5;
  border-radius: 6px;
  @include Medium-Sub-14;
  &::placeholder {
    color: $light-gray_81;
  }
}
.searchIcon {
  position: relative;
  top: 50px;
  left: 15px;
  width: min-content;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}
