@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 240px;
  padding: 50px 20px 20px 20px;
}
.searchBar {
  display: flex;
  height: 40px;
  padding: 20px 20px 20px 35px;
  border: solid 3px $light-bg_E5;
  border-radius: 10px;
  @include Medium_Sub_14;
  &::placeholder {
    color: $light-gray_81;
  }
}
.searchIcon {
  position: relative;
  top: 50px;
  left: 15px;
  width: min-content;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
