@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.startingBtn {
  border-radius: 26px;
  background-color: $brand-point;
  cursor: pointer;
  border-width: 0;
  padding: 12px 24px;
  @include SemiBold_Body_16;
  color: $white_FF;
}
