@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 12px;
}
.xBtnWrapper {
  display: flex;
  justify-content: flex-end;
  .xBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
}
.modalTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 20px 0 35px 0;
  @include Medium-Title-24;
}
.loginBtnsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}
.loginBtn {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  border: none;
  border-radius: 12px;
  @include Medium-Body-16;
  img {
    position: absolute;
    left: 20px;
  }
}
.google {
  background-color: #3f3f3f;
  color: white;
  img {
    width: 24px;
    height: 24px;
  }
}
.kakao {
  background-color: #f7e409;
  img {
    width: 30px;
    top: 16px;
  }
}
.email {
  background-color: $light-bg_F2;
  img {
    width: 20px;
    top: 22px;
    left: 24px;
  }
}
.signupTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  p {
    @include Medium-Sub-14;
    color: $light-bg_89;
  }
  .signupLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    color: $brand-point;
    @include SemiBold-Sub-14;
  }
}
