@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.scheduleItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: calc((100% - 122px) / 7);
  left: var(--schedule-left);
  top: var(--schedule-top);
  height: var(--schedule-height);
  padding: 10px;
  border-radius: 0px;
  color: #0028b6;
  margin-left: 65.5px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  @include Medium_Body_18;
}

.location {
  @include Medium_Sub_14;
}

.time {
  @include Medium_Sub_14;
  word-wrap: break-word;
}

.tooltipWrapper {
  position: absolute;
  left: var(--schedule-left);
  top: var(--schedule-top);
}
