@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.mainContainer {
  display: flex;
  width: 100dvw;
  min-height: 100dvh;
  background-color: $light-bg_F9;
}
