@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 2px 20px 0px #0000001a;
}
.inputField {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  width: 370px;
}
.inputTitle {
  @include SemiBold_Body_16;
  color: $dark-font_5A;
}
.textInput {
  width: 100%;
  height: 48px;
  padding: 15px;
  background-color: $light-bg_F9;
  border-radius: 6px;
  border: 1px solid $light-bg_F2;
  @include Medium_Body_16;
  color: $dark-font_33;
  &::placeholder {
    @include Regular_Body_16;
    color: $light-font_9E;
  }
}
.activeInput {
  background-color: $white_FF;
}
.colorSelectBox {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
.colorBox {
  width: 16px;
  height: 16px;
  margin: 3px;
  border: 2px solid $white_FF;
  border-radius: 2px;
  cursor: pointer;
}

.activeColor {
  border: 2px solid #733232;
}

.daySelectBox {
  display: flex;
  flex-direction: column;
  padding: 30px 5px;
  color: $dark-font_5A;
  width: 370px;
}

.dayOfWeek {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.dayBtn {
  width: 45px;
  height: 48px;
  border: 1px solid $light-bg_F2;
  border-radius: 6px;
  background-color: $white_FF;
  color: $dark-font_5A;
  cursor: pointer;
}
.selected {
  width: 45px;
  height: 48px;
  border: 1px solid $brand-point;
  border-radius: 6px;
  background-color: $white_FF;
  color: $dark-font_5A;
}
.timeSelectBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  height: 48px;
  background-color: $light-bg_F9;
}
.timeSelectBox input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  width: 23px;
  height: 22px;
  color: $dark-font_5A;
  background-color: $light-bg_F9;
  @include Regular_Body_16;
}
.timeBlock {
  display: flex;
  gap: 20px;
}
.separator {
  align-self: flex-start;
  @include SemiBold_Body_18;
  color: $light-font_9E;
}
.dash {
  width: 12px;
  height: 2px;
  background-color: $light-blue_B3;
  margin: 0 10px;
  vertical-align: middle;
}
.submitButton {
  width: 368px;
  height: 48px;
  background-color: $brand-point;
  border: 0;
  border-radius: 6px;
  @include Medium_Body_16;
  color: $white_FF;
  cursor: pointer;
}
.disabledBtn {
  background-color: $light-bg_F2;
  color: $light-blue_B3;
  cursor: unset;
}
.warning {
  margin: 5px;
  display: inline-flex;
  @include Regular_Sub_14;
  color: $brand-point;
}
.caption {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @include Regular_Sub_14;
  color: $light-font_9E;
}
.bottomCaption {
  padding-left: 10px;
}
