@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.qtypeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: $white_FF;
  border: 1px solid $light-bg_E5;
  border-radius: 8px;
  @include Medium_Body_16;
  color: $light-gray_81;
  &.active {
    color: $dark-orange_E5;
    border: 1px solid $dark-orange_E5;
  }
}
