/* Brand */
$brand-point: #ff603d;

/* Sub */
$black: #000000;

/* Text */
$dark-font_33: #333333;
$dark-font_5A: #5a5a5a;
$light-gray_81: #818492;
$light-gray_9E: #9ea1b0;
$dark-orange_E5: #e5592d;

/* Background */
$light-bg_F9: #f9f9f9;
$light-bg_E5: #e5e5ea;
$dark-bg: #2f2f2f;
