@mixin SemiBold_Title_28 {
  font-family: 'Pretendard-SemiBold';
  font-size: 28px;
  letter-spacing: -0.025em;
}

@mixin Medium_Title_24 {
  // 임의로 추가
  font-family: 'Pretendard-Medium';
  font-size: 24px;
  letter-spacing: -0.025em;
}

@mixin SemiBold_Body_18 {
  font-family: 'Pretendard-SemiBold';
  font-size: 18px;
  letter-spacing: -0.025em;
}

@mixin Medium_Body_18 {
  font-family: 'Pretendard-Medium';
  font-size: 18px;
  letter-spacing: -0.025em;
}

@mixin Regular_Body_18 {
  font-family: 'Pretendard-Regular';
  font-size: 18px;
  letter-spacing: -0.025em;
}

@mixin Regular_Body_18_200 {
  font-family: 'Pretendard-Regular';
  font-size: 18px;
  letter-spacing: -0.025em;
  line-height: 200%;
}

@mixin SemiBold_Body_16 {
  font-family: 'Pretendard-SemiBold';
  font-size: 16px;
  letter-spacing: -0.025em;
}

@mixin Medium_Body_16 {
  font-family: 'Pretendard-Medium';
  font-size: 16px;
  letter-spacing: -0.025em;
}

@mixin Regular_Body_16 {
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  letter-spacing: -0.025em;
}

@mixin SemiBold_Sub_14 {
  font-family: 'Pretendard-SemiBold';
  font-size: 14px;
  letter-spacing: -0.025em;
}

@mixin Medium_Sub_14 {
  font-family: 'Pretendard-Medium';
  font-size: 14px;
  letter-spacing: -0.025em;
}

@mixin Regular_Sub_14 {
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  letter-spacing: -0.025em;
}

@mixin Regular_Sub_14_150 {
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  letter-spacing: -0.025em;
  line-height: 150%;
}
