@mixin Regular {
  font-family: 'Pretendard-Medium';
  font-size: 14px;
}

@mixin Medium {
  font-family: 'Pretendard-Regular';
  font-size: 18px;
}

@mixin SemiBold {
  font-family: 'Pretendard-SemiBold';
  font-size: 24px;
}

@mixin Title {
  font-family: 'Pretendard-SemiBold';
  font-size: 32px;
}
