@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.wholeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 30px 10px 20px;
}
.headerContainer {
  display: flex;
  width: 100%;
  height: 76px;
  justify-content: space-between;
  align-items: center;
}
.dateBox {
  display: flex;
  gap: 20px;
}
.today {
  @include SemiBold_Title_28;
}
.toggleMode {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  @include SemiBold_Body_18;
  a {
    text-decoration: none;
  }
}
.activeMode {
  color: black;
}
.inactiveMode {
  color: $light-font_9E;
}
.addScheduleBtn {
  padding: 10px 15px;
  background-color: $dark-font_5A;
  border: none;
  border-radius: 8px;
  color: white;
  @include SemiBold_Body_16;
  cursor: pointer;
}
