@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.wholeWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 2% 4%;
}
.headerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.dateBox {
  display: flex;
  gap: 20px;
}
.title {
  @include SemiBold_Title_28;
  color: $dark-font_5A;
}
.toggleMode {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  @include SemiBold_Body_18;
  a {
    text-decoration: none;
  }
}
.activeMode {
  color: black;
}
.inactiveMode {
  color: $light-font_9E;
}
.addScheduleBtn {
  padding: 12px 20px;
  background-color: $dark-font_33;
  border: none;
  border-radius: 8px;
  color: $white_FF;
  @include SemiBold_Body_16;
  cursor: pointer;
}
.AddScheduleContainer {
  position: absolute;
  right: 4%;
  top: 70px;
}
