@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  @include Medium-Body-16;
  color: $light-gray_81;
  text-decoration: none;
  &.active {
    @include SemiBold-Body-16;
    color: $dark-orange_E5;
  }
}
