@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  @include Medium_Body_16;
  color: $light-gray_81;
  text-decoration: none;
  &.active {
    @include SemiBold_Body_16;
    color: $dark-orange_E5;
  }
}
