@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
  background-image: url('../../../assets/images/auth-page-bg.png');
}
.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 520px;
  padding: 50px 70px;
  background-color: $white_FF;
  border-radius: 24px;
}
.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  @include SemiBold_Title_28;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include SemiBold_Body_16;
  color: $dark-font_33;
}
.inputBox {
  position: relative;
}
.input {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: $light-bg_F9;
  border: 1px solid $light-blue_B3;
  border-radius: 8px;
  ::placeholder {
    @include Medium_Body_16;
    color: $light-blue_B3;
  }
}
.checkboxContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.checkBoxLabel {
  display: flex;
  align-items: center;
  @include Medium_Sub_14;
  color: $light-gray_81;
}
.checkBoxInput {
  display: none;
}
.checkBoxInput + .checkBoxLabel {
  cursor: pointer;
}
.checkBoxLabel:before {
  margin-right: 5px;
}
.checkBoxInput + .checkBoxLabel:before {
  content: '';
  display: flex;
  width: 16px;
  height: 16px;
  background-color: $light-bg_E5;
  border-radius: 3px;
}
.checkBoxInput:checked + .checkBoxLabel:before {
  content: '';
  background-color: $light-bg_E5;
  border-radius: 3px;
  background-image: url('../../assets/images/check.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}
.authBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 20px;
  background-color: $dark-font_33;
  border-radius: 8px;
  @include SemiBold_Body_16;
  color: $white_FF;
  cursor: pointer;
}
.dividingLine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
  padding: 12px 48px;
  @include Medium_Sub_14;
  color: $light-font_9E;
}
.line {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: #dedede;
}
.oauthBtnsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.googleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white_FF;
  width: 56px;
  height: 56px;
  border: 1px solid $light-bg_E5;
  border-radius: 50%;
  cursor: pointer;
}
.kakaoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7e409;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.naverBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #30d341;
}

.AuthGoBox {
  display: flex;
  justify-content: center;
  padding: 10px;
  @include SemiBold_Sub_14;
  p {
    padding-right: 5px;
    color: $light-font_9E;
  }
  a {
    color: $brand-point;
    text-decoration: none;
  }
}

.showBtn {
  position: absolute;
  transform: translateY(-50%);
  top: 50px;
  right: 10px;
  border: none;
  background: none;
}
