@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.wholeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 2% 4%;
}
.headerContainer {
  @include SemiBold_Title_28;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recentScripts {
  color: $dark-font_5A;
}

.noneScriptContainer {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
  flex-direction: column;
  color: $light-font_9E;
}
.noneScript {
  @include SemiBold_Body_18;
}
.startingScript {
  @include Medium_Sub_14;
}
.scriptContainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 20px;
}
