@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100dvw;
  height: 70px;
  padding: 0 100px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.leftContainer {
  width: 200px;
}
.backBtn {
  cursor: pointer;
  border: 0;
  background-color: unset;
}
.title {
  @include Medium_Body_18;
  color: $dark-font_5A;
}
.rightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 200px;
}
.quitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: #333333;
  border: none;
  border-radius: 24px;
  @include SemiBold_Body_16;
  color: white;
  cursor: pointer;
}
.timer {
  @include Medium_Sub_14;
  color: $dark-font_5A;
}
