/* font 설정 */
@font-face {
  font-family: 'Pretendard-Black';
  src: url('./assets/fonts/Pretendard-Black.woff');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./assets/fonts/Pretendard-Bold.woff');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('./assets/fonts/Pretendard-ExtraBold.woff');
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./assets/fonts/Pretendard-ExtraLight.woff');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('./assets/fonts/Pretendard-Light.woff');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./assets/fonts/Pretendard-Medium.woff');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./assets/fonts/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./assets/fonts/Pretendard-SemiBold.woff');
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('./assets/fonts/Pretendard-Thin.woff');
}

/* 전체 스타일 적용 */
* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
