@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.table {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: $white_FF;
  padding: 10px 30px;
  border-radius: 8px;
}
.dayOfWeekRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0px 25px 0px 35px;
  @include Medium_Sub_14;
}
.dayOfWeekCell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.tableBox {
  display: flex;
  flex-direction: column;
}
.timeRow {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 80px;
}
.time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35px;
  padding-right: 5px;
  @include Medium_Sub_14;
  color: $light-gray_81;
}
.daytime {
  display: block;
  width: calc((100% - 60px) / 7);
  height: 80px;
  border: 1px solid $light-bg_E5;
  border-bottom: 0px;
  border-right: 0px;
}
.daytime:nth-child(2) {
  background-color: $light-bg_F9;
}
.daytime:nth-child(8) {
  background-color: $light-bg_F9;
  border-right: 1px solid $light-bg_E5;
}
.lastRow {
  border-bottom: 1px solid $light-bg_E5;
}
