@import '../../../styles/variables/colors.scss';
@import '../../../styles/variables/fonts.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
}
.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 40px;
  background-color: $white_FF;
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}
.xBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.title {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: 'Pretendard-SemiBold';
  font-size: 24px;
  color: $dark-font_5A;
}
.playBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: max-content;
  padding: 4px 12px;
  margin-top: 4px;
  background-color: $light-bg_F9;
  border-radius: 6px;
}
.playBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.time {
  @include SemiBold_Sub_14;
  color: $light-gray_81;
}
.textBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
  @include Regular_Body_16_200;
  color: $dark-font_33;
  overflow-y: auto;
  -ms-overflow-style: auto;
  scrollbar-width: auto;
  &::-webkit-scrollbar {
    display: block;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $light-bg_E5;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-blue_B3;
    border-radius: 4px;
  }
}
