@import '../../../../styles/variables/colors.scss';
@import '../../../../styles/variables/fonts.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 25px;
  background-color: white;
  border: none;
  border-radius: 12px;
}
.modalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 25px 0;
  @include SemiBold_Body_18;
  color: $dark-font_33;
}
.titleInput {
  padding: 15px;
  background-color: $white_FF;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  @include Medium_Body_16;
  color: $dark-font_5A;
  text-align: center;
}
.completeStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 30px 0;
  @include SemiBold_Sub_14;
}
.incompletedText {
  color: $dark-font_5A;
}
.completedText {
  color: $dark-orange_E5;
}
.incompletedCircle {
  background-color: $dark-font_5A;
}
.completedCircle {
  background-color: $dark-orange_E5;
}
.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.btnsContainer {
  display: flex;
  gap: 12px;
}
.modalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  @include SemiBold_Body_16;
  cursor: pointer;
}
.gray {
  background-color: $light-bg_F2;
  color: $dark-font_5A;
}
.orange {
  background-color: $brand-point;
  color: $white_FF;
}
