@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.errorPageWrapper {
  width: 100%;
  height: 100%;
}
.errorpageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100dvh;
}
.errorImg {
  width: 150px;
  height: 150px;
}
.errorMsg {
  @include SemiBold_Title_28;
  color: $dark-font_33;
}
.errorContent {
  @include Regular_Body_16;
  color: $light-gray_81;
}
.captionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.btnsContainer {
  display: flex;
  gap: 12px;
}
@mixin btn-base {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border-radius: 6px;
  text-decoration: none;
  @include SemiBold_Body_16;
}
.blackBtn {
  @include btn-base;
  background-color: $dark-font_33;
  color: $white_FF;
}
.grayBtn {
  @include btn-base;
  background-color: $light-bg_F2;
  color: $dark-font_33;
}
